<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327199846940-mfha0rcu6hv0nv6qg90aejcah9kqagun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327199846940-mfha0rcu6hv0nv6qg90aejcah9kqagun</string>
	<key>API_KEY</key>
	<string>AIzaSyCtwv-kJK17zf_c9aaY22DYdFYpz3TfB-0</string>
	<key>GCM_SENDER_ID</key>
	<string>327199846940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ptint</string>
	<key>PROJECT_ID</key>
	<string>renad-b67fc</string>
	<key>STORAGE_BUCKET</key>
	<string>renad-b67fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327199846940:ios:a4c2a4aed74a85e3aaa5d9</string>
	<key>DATABASE_URL</key>
	<string>https://renad-b67fc.firebaseio.com</string>
</dict>
</plist>